<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>changePassword</title>
</head>
<body>
<form action="/changePassword" method="post">
    {% csrf_token %}
    <h2 style="text-align:left;font-family:Georgia">Email</h2>
    {{ form.email }}
    <h2 style="text-align:left;font-family:Georgia">Old Password</h2>
    {{ form.oldPassword }}
    <h2 style="text-align:left;font-family:Georgia">New Password</h2>
    {{ form.newPassword }}</r>
    <input type="submit" value="Submit">
</form>
</body>
</html>