<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>databaseSearchPage</title>
</head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'dbSearchFormatting.css' %}">
<body>
<h1 style="text-align:center;font-family:Arial">Search For Plants!</h1>
<form action="/databaseSearchPage" method="post">
    {% csrf_token %}
    <h2 style="text-align:left;font-family:Arial">Search</h2>
    {{ form }}
    <input type="submit" value="Submit">
</form>
<div class="grid">
    <div class="links">
        <h2>Check out These Pre-Generated Searches For More Detailed Looks at the Plant Database:</h2>
        <ul>
            <li>
                <a href="./displayReport1raw" onclick="navigate">View Plants by Year Documented (Raw)</a><br>
            </li>
            <li>
                <a href="./displayReport1ORM" onclick="navigate">View Plants by Year Documented (ORM)</a><br>
            </li>
            <li>
                <a href="./displayReport2" onclick="navigate">View All Plants' Endangered Status</a><br>
            </li>
            <li>
                <a href="./displayReport3" onclick="navigate">View Plants by Group</a><br>
            </li>
            <li>
                <a href="./displayReport4" onclick="navigate">View Plants by Subgroup</a><br>
            </li>
        </ul>
    </div>
</div>
<table border="1">
            <tr>
                <th>PlantID</th>
                <th>CommonName</th>
                <th>ScientificName</th>
                <th>YearLastDocumented</th>
            </tr>
            {% for PlantID, CommonName, ScientificName, YearLastDocumented in PlantList %}
            <tr>
                <td>{{PlantID}}</td>
                <td>{{CommonName}}</td>
                <td>{{ScientificName}}</td>
                <td>{{YearLastDocumented}}</td>
            </tr>
            {% endfor %}
</table>
</body>
</html>