<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1 style="text-align:center;font-family:Georgia">Welcome to Backyard Botanist!</h1>
<form action="/databaseSearchPage" method="post">
    {% csrf_token %}
    <h2 style="text-align:left;font-family:Georgia">Email</h2>
    {{ form.email }}
    <h2 style="text-align:left;font-family:Georgia">Password</h2>
    {{ form.password }}
    <input type="submit" value="Submit">
</form>
<!--{% if emailInput != emailInput %}
    <a href="./databaseSearchPage" onclick="navigate">Submit</a><br>
{% else %}
    <a href="./invalidUser" onclick="navigate">Submit</a><br>
{% endif %}-->
<a href="./changePassword" onclick="navigate">Change Password?</a><br>
<a href="./createAccount" onclick="navigate">Create an Account</a><br>
</body>
</html>