<!DOCTYPE html>
<head>
    <title>View Report #4</title>
</head>
<body>
    <center>
        <h1>View Report #4</h1>
        <hr/>
        <table border="1">
            <tr>
                <th>Common Name</th>
                <th>Scientific Name</th>
            </tr>
            {% for CommonName, ScientificName in GroupList%}
            <tr>
                <td>{{CommonName}}</td>
                <td>{{ScientificName}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>
